.chartIQDemo {
  margin-left: 300px;
  margin-top: 100px;
  position:absolute;
  width:1400px;
  height:900px;
}

.multipleChartIQDemo {
  display: flex;
}

.chartIQDemo1, .chartIQDemo2, .chartIQDemo3, .chartIQDemo4 {
  position:absolute;
  width:800px;
  height:400px;
}

.chartIQDemo1 {
  margin-left: 100px;
  margin-top: 100px;
}
.chartIQDemo2 {
  margin-left: 950px;
  margin-top: 100px;
}
.chartIQDemo3 {
  margin-left: 100px;
  margin-top: 550px;
}
.chartIQDemo4 {
  margin-left: 950px;
  margin-top: 550px;
}