<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Boilerplate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="http://developer.modulusfe.com/html5/css/StockChartX.min.css">
  <link rel="stylesheet" href="http://developer.modulusfe.com/html5/css/StockChartX.UI.min.css">
  <link rel="stylesheet" href="http://developer.modulusfe.com/html5/css/StockChartX.External.min.css">

  <script src='/src/components/chartiq.js'></script>
  <script src='/src/components/addOns.js'></script>
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="http://developer.modulusfe.com/html5/scripts/Intl.min.js"></script>
  <script src="http://developer.modulusfe.com/html5/scripts/i18next.min.js"></script>
  <script src="http://developer.modulusfe.com/html5/scripts/i18nextXHRBackend.min.js"></script>
  <script src="http://developer.modulusfe.com/html5/scripts/jquery-i18next.min.js"></script>
  <script src="http://developer.modulusfe.com/html5/scripts/detectizr.min.js"></script>
  <script src="http://developer.modulusfe.com/html5/scripts/StockChartX.min.js" charset="iso-8859-1"></script>
  <script src="http://developer.modulusfe.com/html5/scripts/StockChartX.UI.min.js" charset="iso-8859-1"></script>
  <script src="http://developer.modulusfe.com/html5/scripts/StockChartX.External.min.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>