// Base

@import 'base/variables';
@import 'base/reset';
@import 'base/base';
@import 'base/typography';
@import 'base/stx-chart.scss';

// Components

@import 'components/topbar';
@import 'components/topnav';
@import 'components/page';
@import 'components/chartIQ.scss';

// Pages

@import 'pages/home';
@import 'pages/posts';
@import 'pages/post';
@import 'pages/grids';

.scxToolbar {
  display: none;
}
.step {
  flex: 1;
}
.mosaic-root {
  height: calc(100% - 50px) !important;
}